/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0; /* Default foreground color */
    --background-start-rgb: 214, 219, 220; /* Default background start color */
    --background-end-rgb: 255, 255, 255; /* Default background end color */

    /* Define media query variables for dark theme */
    --foreground-dark-rgb: 0, 0, 0;
    --background-start-dark-rgb: 214, 219, 220;
    --background-end-dark-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: var(--foreground-dark-rgb);
        --background-start-rgb: var(--background-start-dark-rgb);
        --background-end-rgb: var(--background-end-dark-rgb);
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

/* Specific styles for 404 page */
.not-found-page {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
/* button{
  background:  #006847;
  color: white;
  padding: 8px 8px;
  border-radius: 15px;
 
} */

.body {
    margin: 0; /* Reset default margin */
    max-height: 100vh;
    overflow: hidden;
    background: linear-gradient(
        135deg,
        #042c1f,
        #051512
    ); /* Dark green gradient */
}

.box {
    background: #006847;
    width: 100%;
    min-height: 100px; /* Adjust as needed */
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 10px; /* Add padding for better spacing */
}

.line {
    height: 0.5px; /* Adjust the height as needed for your line thickness */
    width: 100%;
    background: #ffffff;
    margin-top: 20px;
}
.tooltip-text {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.flex:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.primary-btn {
    @apply bg-primary text-white;
    @apply py-2 px-4;
    @apply border border-black;
    @apply rounded-lg;
}

.secondary-btn {
    @apply py-2 px-4;
    @apply border border-black;
    @apply rounded-lg;
}

/* styles.css */

.touchscreen-button {
    opacity: 1; /* Default opacity */
}

@media (pointer: coarse) {
    /* This targets touchscreen devices */
    .touchscreen-button {
        opacity: 0.75; /* Change to 75% opacity */
        transition: opacity 0.3s ease; /* Optional: Add transition */
    }
}

@keyframes outline-animation {
    0% {
        box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.4);
    }
    50% {
        box-shadow: 0 0 0 8px rgba(59, 130, 246, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(59, 130, 246, 0);
    }
}

.outline-animation {
    position: relative;
    animation: outline-animation 2s infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.gradient-animation {
    position: relative;
    background: radial-gradient(circle, #006747, #e8b650);
    background-size: 400% 400%;
    background-position: 0% 50%;
    animation: gradient-animation 5s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
