/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Default foreground color */
  --background-start-rgb: 214, 219, 220; /* Default background start color */
  --background-end-rgb: 255, 255, 255; /* Default background end color */

  /* Define media query variables for dark theme */
  --foreground-dark-rgb: 0, 0, 0;
  --background-start-dark-rgb: 214, 219, 220;
  --background-end-dark-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: var(--foreground-dark-rgb);
    --background-start-rgb: var(--background-start-dark-rgb);
    --background-end-rgb: var(--background-end-dark-rgb);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Specific styles for 404 page */
.not-found-page {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* button{
  background:  #006847;
  color: white;
  padding: 8px 8px;
  border-radius: 15px;
 
} */

.body {
  margin: 0; /* Reset default margin */
  max-height: 100vh;
  overflow: hidden;
  background: linear-gradient(135deg, #042c1f, #051512); /* Dark green gradient */
}






.box {
  background: #006847;
  width: 100%;
  min-height: 100px; /* Adjust as needed */
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 10px; /* Add padding for better spacing */

}


.line {
  height: 0.5px;  /* Adjust the height as needed for your line thickness */
  width: 100%;
  background: #ffffff;
  margin-top: 20px;
}
